body {

  font-family: "Fira Sans";
  margin-top: 50px;
  margin-left: 400px;
  margin-right: 450px;
  font-size: 140%;
}

h1, h2, h3, h4, h5, h6 {
  border-bottom: 2px solid black;
  font-size: 110%;
}

li {
  list-style: none;
}

.title {
  position: absolute;
  font-size: 200%;
  width: 150px;
  top: 50px;
  left: 50px;
}
